<template name="beerCardList">
  {{getBeerCount}}
  {{#each beers}}
  <div class="ui centered cards">
  <div class="card">
    <div class="image">
      <img src="{{image}}" alt="{{name}}" class="img-responsive"/>
    </div>
    <div class="content">
      <div class="header">{{ name }}</div>

      <div class="description">
        {{description}}
      </div>
    </div>
    <div class="extra content">
        {{> currentRatings}}

        {{#if currentUser}}
        {{> rating}}
        {{else}}

        {{/if}}
    </div>
    </div>
  </div>


  <!-- <div class="beercard panel panel-primary bootcards-media">
    <div class="panel-heading">
      <h1 class="panel-title  text-center"></h1>
    </div>
    <div class="panel-body">
      <p class="padding-small-horizontal"></p>
    </div>
        <div class="panel-heading text-center">
          <h3 class="panel-title"><i class="fa fa-thumbs-up"></i>   Ratings  <i class="fa fa-thumbs-down"></i></h3>
        </div>
        <div class="panel-body">


        </div>
</div> -->
{{/each}}
</template>
