<template name="currentRatings">
  <div class="currentRatings">
        <table class="table table-bordered table-hover">
        <tbody>
        <tr>
        <td>
          <i class="fa fa-beer rateicon"></i>
        </td>
        <td>
          Taste Score:
        </td>
        <td>
          {{currentTasteRating}}<span class="badge">{{tasteRatingTotal}}</span>
        </td>
        </tr>
        <tr>
        <td>
          <i class="fa fa-eye rateicon"></i>
        </td>
        <td>
          Packaging Score:
        </td>
        <td>
          {{currentPackagingRating}}<span class="badge">{{packagingRatingTotal}}</span>
        </td>
        </tr>
        </tbody>
        </table>
</div>
</template>
