<template name="navmenu">
        <!-- <div class="ui large top attached inverted fluid menu"> -->
            <a class="item column beerfesttitle" href="{{pathFor 'home'}}"><i class="fa fa-beer"></i> Beerfest8</a>


          {{#if currentUser}}
          <a class="item column  {{ isActiveRoute regex='total' }}" href="{{ pathFor 'total' }}"><i class="star icon center"></i></a>
          <a class="item column {{ isActiveRoute regex='taste' }}" href="{{ pathFor 'taste' }}"><i class="beer icon center"></i></a>
          <a class="item column {{ isActiveRoute regex='packaging' }}" href="{{ pathFor 'packaging' }}"><i class="eye icon center"></i></a>
          <!-- <a class="item {{ isActiveRoute regex='insta' }}" href="{{ pathFor 'insta' }}"><i class="camera icon center"></i></a> -->

          {{else}}
          <div class="ui inverted compact segment buttons right menu">
              <a class="ui item inverted button active vertically fitted " href="{{ pathFor 'atSignIn' }}" >Sign in </a>
              <a class="ui item inverted  blue button vertically fitted" href="{{ pathFor 'atSignUp' }}" >Register</a>
          </div>
          {{/if}}
          <a class="item right floated" id="homeSidebarToggle"> <i class="sidebar icon"> </i></a>

        <!-- </div> -->
</template>


<template name="navmenubottom">
        <div class="ui large bottom attached fluid menu navmenubottom">
          <a class="item column beerfesttitle" href="{{pathFor 'home'}}"><i class="fa fa-beer"></i> Beerfest 8</a>

        <a class="item column  {{ isActiveRoute regex='total' }}" href="{{ pathFor 'total' }}"><i class="star icon center"></i></a>
        <a class="item column {{ isActiveRoute regex='taste' }}" href="{{ pathFor 'taste' }}"><i class="beer icon center"></i></a>
        <a class="item column {{ isActiveRoute regex='packaging' }}" href="{{ pathFor 'packaging' }}"><i class="eye icon center"></i></a>

        <a class="item right floated" id="homeSidebarToggle"> <i class="sidebar icon"> </i></a>

      </div>
</template>
