<template name="rating">
  <button class="ui toggle green basic labeled icon button large right floated vote {{voted}}" id="vote">
    <i class="check circle icon"></i>
    <label>Vote</label>
  </button>
  <div class="userRatings">


    <div class="ui  menu stackable two column grid">

    <div class="column item ratingitem">
      <h3> <i class="icon beer bottom aligned ratingicon"></i></h3>
      <div class="rateit svg rateitTaste" id="rateitTaste" min="0" max="5" value="0" data-rateit-step="0.5" data-rateit-value="{{tasteValue}}" data-rateit-resetable="false" data-rateit-starwidth="32" data-rateit-starheight="32" ></div>
    </div>
    <div class="column item ratingitem">
      <h3><i class="icon eye bottom aligned ratingicon"></i></h3>
      <div class="rateit svg rateitPackaging" id="rateitPackaging"  min="0" max="5" value="0" data-rateit-step="0.5" data-rateit-value="{{packagingValue}}" data-rateit-resetable="false" data-rateit-starwidth="32" data-rateit-starheight="32" ></div>
    </div>
  </div>

</div>
</template>
