.userrating{
  display: inline-block;
  margin-top: 20px;
}

.badge{
  vertical-align: top;
  margin-left: 8px;
  padding: 4px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}



div.svg div.rateit-range {
  height: 32px;
  width: 32px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGlkPSJzdGFyLTItb3V0bGluZS1pY29uIiBkPSJNMjU2LDEyOC44NThsNDIuOTgsODguNjY3bDk3LjYxLDEzLjQ3OGwtNzEuMDQ3LDY4LjI3OGwxNy4zNDYsOTYuOTk2TDI1NiwzNDkuODA5bC04Ni44OSw0Ni40NjlsMTcuMzQ2LTk2Ljk5NmwtNzEuMDQ3LTY4LjI3OGw5Ny42MS0xMy40NzhMMjU2LDEyOC44NTh6IE0yNTYsNjAuMDgybC02Mi45NzgsMTI5LjkyTDQ5Ljk5OSwyMDkuNzVMMTU0LjEsMzA5Ljc5M2wtMjUuNDE1LDE0Mi4xMjVMMjU2LDM4My44MjhsMTI3LjMxNSw2OC4wOUwzNTcuOSwzMDkuNzkzTDQ2Mi4wMDEsMjA5Ljc1bC0xNDMuMDIzLTE5Ljc0OEwyNTYsNjAuMDgyeiIvPjwvc3ZnPg==);
}
div.svg div.rateit-hover {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGlkPSJzdGFyLTItaWNvbiIgcG9pbnRzPSIyNTYsNjAuMDgyIDMxOC45NzksMTkwLjAwMiA0NjIuMDAxLDIwOS43NSAzNTcuOSwzMDkuNzkzIDM4My4zMTUsNDUxLjkxOCAyNTYsMzgzLjgyOCwxMjguNjg1LDQ1MS45MTggMTU0LjEsMzA5Ljc5MyA0OS45OTksMjA5Ljc1IDE5My4wMjEsMTkwLjAwMiAiLz48L3N2Zz4=);
}
div.svg div.rateit-selected {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGlkPSJzdGFyLTItaWNvbiIgcG9pbnRzPSIyNTYsNjAuMDgyIDMxOC45NzksMTkwLjAwMiA0NjIuMDAxLDIwOS43NSAzNTcuOSwzMDkuNzkzIDM4My4zMTUsNDUxLjkxOCAyNTYsMzgzLjgyOCwxMjguNjg1LDQ1MS45MTggMTU0LjEsMzA5Ljc5MyA0OS45OTksMjA5Ljc1IDE5My4wMjEsMTkwLjAwMiAiLz48L3N2Zz4=);

}
div.svg div.rateit-preset {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGlkPSJzdGFyLTItaWNvbiIgcG9pbnRzPSIyNTYsNjAuMDgyIDMxOC45NzksMTkwLjAwMiA0NjIuMDAxLDIwOS43NSAzNTcuOSwzMDkuNzkzIDM4My4zMTUsNDUxLjkxOCAyNTYsMzgzLjgyOCwxMjguNjg1LDQ1MS45MTggMTU0LjEsMzA5Ljc5MyA0OS45OTksMjA5Ljc1IDE5My4wMjEsMTkwLjAwMiAiLz48L3N2Zz4=);

}
