<template name="beerlist">

<ul class="list-group">
  {{#each beers}}
  <li class="list-group-item">{{ name }} : {{ description }}
  <span class="label label-default">{{ rating }} </span>
  {{> removebutton}}
  </li>
  {{/each}}
</ul>
</template>

<template name="removebutton">
  {{#if isAdminUser}}
<span><button class="delete btn btn-danger">Remove</button></span>
  {{/if}}
</template>


<template name="addbeer">
  <div class="template-addbeer">
    <div class="page-header">
      <h2>Add a Beer</h2>
    </div>

    <form class="new-beer">
      <div class="form-group">
       <input class=form-control type="text" name="text" placeholder="Type to add new beer" />
       <input class=form-control type="textarea" name="textarea" placeholder="description" />
       <input class="btn btn-info btn-block" type="file" id="inputFile" value="Add Photo"/>
       <input class="btn btn-success btn-block" type="submit" name="submit" value="Add Beer"/>
       </div>
     </form>


{{> beerlist}}
  </div>
</template>
