// Bootstrap Variables
@import "./lib/bootstrap/variables.import.less";
@import url(http://fonts.googleapis.com/css?family=Lobster|Berkshire+Swash|UnifrakturMaguntia);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

// Custom Variables
@brand-primary: #243757;
//337ab7


.beercard{
  max-width: 640px;
  background-color: #eee;
  color: #3A5F6F;
}
.panel-title{
  font-family: 'Bree Serif', serif;
  color: #fff;
  font-weight:400;
  font-size: 34px;
}
.panel-body{
  font-family: @font-family-sans-serif;
  font-weight: normal;
}
.currentRatings{
  font-size: 26px;
  font-stretch: semi-expanded;
}
.rateicon, .i {
  padding: 6px;
  color: #00aad7;
}
.beerfesttitle{
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 45px;
  font-weight: normal;
  line-height: 32px;
}
