// Bootstrap Variables
// @import "./lib/bootstrap/variables.import.less";
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
// Custom Variables
@brand-primary: #243757;
//337ab7


.ui.cards > .card, .ui.card {
  width: 460px;
}
.main.container {
    margin-top: 5em;
  }
// .panel-title{
//   font-family: 'Bree Serif', serif;
//   color: #fff;
//   font-weight:400;
//   font-size: 24px;
// }
// .panel-body{
//   font-weight: normal;
// }
.currentRatings{
   font-size: 18px;
}
.rateicon, .i {
  color: #016b87;
}
// .beerfesttitle{
//   font-family: 'Roboto Slab', serif;
//   font-size:28px;
//   font-weight: 700;
//   line-height: 20px;
// }
