// Bootstrap Variables
// @import "./lib/bootstrap/variables.import.less";
// @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
// Custom Variables
@brand-primary: #243757;
//337ab7
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
html, body {
  height: initial;
}

.ui.cards > .card, .ui.card {
  width: 460px;
}
.main.container {
    padding-top: 3em;
    padding-bottom: 2em;
  }


  .ui.cards > .card > .extra,
  .ui.card > .extra {
padding: 0.75em 0.75em;
}


.ui.compact.menu {
   font-size: 16px;
   font-weight: bold;
   color: black;
   margin-bottom: 0.75em;
  //  padding-bottom: 4px;
}
.rateicon, .i {
  color: #016b87;
}
// .beerfesttitle{
//   font-family: 'Roboto Slab', serif;
//   font-size:28px;
//   font-weight: 700;
//   line-height: 20px;
// }
